<div class="navbar navbar-light bg-light navbar-expand px-4">
    <a class="navbar-brand" routerLink="/">Electronix Store</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/catalogue" routerLinkActive="active">Каталог</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Товары</a>
        <a class="nav-item nav-link" routerLink="/orders" routerLinkActive="active">Заказы</a>
        <a class="nav-item nav-link" routerLink="/cart" routerLinkActive="active"><i class="bi bi-cart"></i></a>
    </div>
</div>